# Ignore virtual environment
.venv/

# Ignore secret environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc

#Ignore the information of the users
DataBase.db


#Ignore the un-structured data 
data/


